:root {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #000;
	background-image: url('./darkness.png');
	box-sizing: border-box;
}

.container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.logo-container {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
	height: 50%;
}

#logo {
	height: 100%;
}

.info-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex: 1;
}

#welcome-msg {
	font-size: 1.5em;
	font-weight: 100;
	color: #fefefe;
	text-align: center;
	line-height: 1.5;
	padding: 0 30px;
	box-sizing: border-box;
}

.button {
	font-size: 1.5em;
	font-weight: 200;
	color: #09bb07;
	text-decoration: none;
	padding: 15px 30px;
	border: .5px solid #09bb07;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s ease-in-out;
	box-sizing: border-box;
}

.button:hover {
	background-color: #09bb07;
	color: #fff;
}

.footer {
	color: #888;
	font-size: .8em;
}

#logo,
#welcome-msg,
.button,
.footer {
	opacity: 0;
	-webkit-transform: translate3d(0,30%,0);
	transform: translate3d(0,30%,0);
}

#logo[isShow="true"] {
	-webkit-animation: slideIn .5s ease-in-out forwards;
	animation: slideIn .5s ease-in-out forwards;
}

#welcome-msg[isShow="true"] {
	-webkit-animation: slideIn .5s ease-in-out .1s forwards;
	animation: slideIn .5s ease-in-out .1s forwards;
}

.button[isShow="true"] {
	-webkit-animation: slideIn .5s ease-in-out .2s forwards;
	animation: slideIn .5s ease-in-out .2s forwards;
}

.footer[isShow="true"] {
	-webkit-animation: slideIn .5s ease-in-out .3s forwards;
	animation: slideIn .5s ease-in-out .3s forwards;
}

@-webkit-keyframes slideIn {
	from {opacity: 0;-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0)}
	to {opacity: 1; -webkit-tranform: translate3d(0,0,0); transform: translate3d(0,0,0)}
}
@-o-keyframes slideIn {
	from {opacity: 0;-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0)}
	to {opacity: 1; -webkit-tranform: translate3d(0,0,0); transform: translate3d(0,0,0)}
}
@-moz-keyframes slideIn {
	from {opacity: 0;-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0)}
	to {opacity: 1; -webkit-tranform: translate3d(0,0,0); transform: translate3d(0,0,0)}
}
@keyframes slideIn {
	from {opacity: 0;-webkit-transform: translate3d(0,30%,0);transform: translate3d(0,30%,0)}
	to {opacity: 1; -webkit-tranform: translate3d(0,0,0); transform: translate3d(0,0,0)}
}

@media screen and (min-width:500px) {
	#welcome-msg {
		font-size: 3em;
	}

	.button {
		border-width: 1px;
	}

	.footer {
		font-size: 1em;
	}
}

@media screen and (orientation: landscape) and (max-width: 1029px) {
	.container {
		flex-direction: row;
	}

	.logo-container {
		width: 50%;
		height: 100%;
		justify-content: flex-end;
	}

	#logo {
		height: 80%;
	}

	.info-container {
		height: 70%;
	}

	#welcome-msg {
		font-size: 1.5em;
	}

	.footer {
		font-size: .8em;
	}
}
